:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: darkgray;
  background-color: aliceblue;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: gray;
  background-color: rgb(188, 205, 211);;
  cursor: pointer;
}

h1{
  font-size: 3.2em;
  line-height: 1.1;
  color: grey;
}

th{
  background-color: darkgray;
  color: aliceblue;
  box-sizing: border-box;
  padding: 3px;
}

td{
  background-color: rgb(188, 205, 211);
  color: grey;
}

textarea{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

i{
  margin: 3px;
  cursor: pointer;
}

#addNoteBtn, #saveNoteBtn{
  cursor: pointer;
  margin: 20px 0;
}

#edit_form {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
}

.addNoteField {
  /* display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center; */
  margin: 20px 0;
}

#notesTable, #summaryTable {
  width: 100%;
}
